# Logs
*.log
logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
node_modules

# Build directories
build/
dist/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.local
.env.stage

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# package-lock.json
# pnpm-lock.yaml
# yarn.lock

# Jest
coverage

.DS_Store
*.pem
notes.md

design.md

.pnpm-store/

src/infrastructure/internal/database/migrations
